<div class="content">
  <div class="nes-container with-title is-centered is-rounded">
    <h1 class="title">Naomi's Tunnels</h1>
    <img src="https://cdn.nhcarrigan.com/profile.png" alt="" />
    <p>These are just the tunnels I use for local development...</p>
    <section *ngFor="let tunnel of tunnels">
      <h2>
        <a href="{{ tunnel.url }}" target="_blank">{{ tunnel.name }}</a>
      </h2>
      <div class="tunnel">
        <p class="left">{{ tunnel.description }}</p>
        <div class="right">
          <p class="pill" [style]="getStyle(tunnel.url)">
            {{ getState(tunnel.url) }}
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
